.row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.first-column {
  width: 200px;
}

.center-column {
  margin-right: auto;
}

.last-column {
  width: 300px;
}

input {
  width: 160px;
  padding: 0;
}

